@media (max-width: 1200px) {
    .stages__list {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 17px;
        row-gap: 24px;
        /* grid-template-rows: 395px 395px 395px; */
        grid-template-areas:
            "A B "
            "C C "
            "D E "
            "F F "
            "G G";
    }

    .stages__item--3 .step__descr {
        width: 461px;
    }

    .stages__item--6 .step__descr {
        width: 461px;
    }
}

@media (max-width: 1024px) {

    .container {
        padding: 0 20px;
    }

    .information__container {
        flex-direction: column;
        align-items: center;
    }

    .information__text--big-resolution {
        display: none;
    }

    .information__text--small-resolution {
        display: block;
    }

    .schedule__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;

    }

    .schedule__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .schedule__img {
        position: static;
        height: 100%;
    }

    .schedule__text {
        margin: 0;
        margin-bottom: 44px;
    }

    .schedule__table {
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .schedule__link {
        align-self: center;
    }

    .table__column {
        padding: 0;
    }

    .table__column--left {
        border-right: none;
        border-bottom: none;
        margin-bottom: 12px;
    }

    .table__column--right {
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .table__column--right:last-child {
        border: none;
    }

    .stages__subtitle {
        padding-bottom: 56px;
        max-width: 702px;
    }

    .stages__subtitle .stages__link {
        top: 208px;
        left: 0
    }


    .stages__list {

        grid-template-columns: 100%;

        grid-template-areas:
            "A"
            "B"
            "C"
            "D"
            "E"
            "F"
            "G"

        ;
    }

    .step__decoration {
        display: none;
    }

    .participants__subtitle {
        max-width: 300px;
    }

    .participants-big-carousel {
        display: block;
    }



    .footer__container {
        padding: 20px 40px;
    }


}

@media (max-width: 756px) {


    .hero {
        padding-top: 118px;
        padding-bottom: 131px;
        background-image: url('../img/hero-320.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__text {
        max-width: inherit;
    }


    .hero__line-breaker {
        display: none;
    }

    .hero__button-container {
        flex-direction: column;

        gap: 8px;
    }

    .hero__button {
        width: 100%;
    }

    .hero__button--white {
        background-color: var(--color-white);
        border-color: var(--color-white);
    }

    .schedule {
        margin-bottom: 121px;
        ;
    }



    .participants__container {
        position: relative;
        padding-bottom: 100px;
    }

    .participants-big-carousel {
        display: none;
    }

    .participants-small-carousel {
        display: block;
    }

    .carousel .carousel-window {
        height: 481px;
    }

    .slide {
        height: 480px;
    }

    .swiper__controll-line {
        margin: 0 auto;
        justify-content: center;
        position: absolute;
        justify-content: center;
        z-index: 1000;
        width: 100%;
        bottom: -70px;
    }

    .swiper__button {
        width: 36px;
        height: 36px;
    }


    .swipper__slider-track {
        display: flex;
        padding: 0px 0px;
        gap: inherit;
    }




    .participants-small-carousel {
        margin: 0 auto;
        position: relative;
    }

    .participants-small-carousel .participants-small-carousel-indicators {

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
        display: flex;
        justify-content: center;
        padding: 10px;
        list-style: none;
    }

    .participants-small-carousel .participants-small-carousel-indicators li {
        display: none;
    }

    .participants-small-carousel .participants-small-carousel-window {
        width: 100%;
        height: 394px;
        position: relative;
        overflow: hidden;
    }

    .participants-small-carousel .participants-small-carousel-slides {
        height: 100%;
        display: flex;
        transition: transform 0.5s;
    }

    .participants-small-carousel .participants-small-carousel-item {
        height: 98%;
    }

    .participants-small-carousel .participants-small-carousel-item img {
        width: 244px;
        height: 244px;
        object-fit: cover;
    }

}

@media (max-width: 480px) {

    .header__logo {
        padding-top: 18px;
    }

    .header__logo-img {

        height: 32px;
        width: 213px;
    }

    .hero {
        padding-top: 96px;
        padding-bottom: 319px;
    }

    .hero__title {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .title__text--center {
        font-size: 36px;
    }



    .hero__descr {
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: left;

        margin-bottom: 30px;
    }

    .ticker {
        margin-top: -27px;
        height: 38px;
        padding: 8px 0;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .ticker__item {
        font-family: Merriweather;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: right;

    }

    .information {
        margin-bottom: 58px;
    }

    .information__text {

        font-family: Merriweather;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;


    }

    .information__img {
        margin-top: 25px;
    }

    .schedule__text {
        margin-top: -148px;
        font-family: Merriweather;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0px;
        text-align: left;
    }

    .schedule__link {
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }

    .schedule__img {
        scale: 1.1;
        position: static;
    }

    .schedule__table {
        margin-bottom: 8px;
    }

    .table__column--right {
        position: relative;
    }

    .table__column:nth-child(8) {
        padding-bottom: 0;
    }

    .table__text {
        position: absolute;
        left: 153px;
        top: -39px
    }

    .table-extra {
        margin-right: 7px;
    }

    .stages__subtitle {
        font-family: Merriweather;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 0;
        /* padding-bottom: 150px  */
    }


    .stages__link {
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }

    .stages__subtitle .stages__link {
        top: 130px;
    }

    .stages {
        margin-bottom: 119px;
    }

    .stages__list {
        display: none;
    }

    .stages__carousel-item {
        padding-top: 147px;
        position: relative;
    }

    .unit__box {
        height: 300px;
        display: flex;
        flex-direction: column;
        padding: 62px 20px;
        gap: 28px;
        background-image: url('../img/steps-texture.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .unit__item {
        display: flex;
        gap: 16px;
    }

    .unit__digit {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: var(--color-white);
        color: var(--color-black-dark);
        font-family: Golos Text;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        padding-top: 5px;
        text-align: center;

    }

    .unit__descr {
        width: 243px;
        font-family: Golos Text;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;


    }

    .unit__decoration {
        position: absolute;
        z-index: 2000;
        background-image: url('../img/schedule-plain-small.png');
        width: 350px;
        height: 207px;
        top: 6px;
        left: 9px;


    }

    .steps-carousel {
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .steps-carousel .steps-carousel-indicators {
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
        display: flex;
        justify-content: center;
        padding: 10px;
        list-style: none;
    }

    .steps-carousel .steps-carousel-indicators li {
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-left: 3px;
        cursor: pointer;
        background-color: var(--color-grey-super-light);
        border: 2px solid var(--color-grey-super-light);
        border-radius: 50%;
    }

    .steps-carousel .steps-carousel-indicators .active {
        background-color: var(--color-black-dark);
        border-color: var(--color-black-dark);

    }

    .steps-carousel .steps-carousel-window {
        width: 100%;
        height: 476px;
        position: relative;
        overflow: hidden;
    }

    .steps-carousel .steps-carousel-slides {
        height: 100%;
        display: flex;
        transition: transform 0.5s;
    }

    .steps-carousel .steps-carousel-item {
        height: 100%;
    }

    .steps-carousel .steps-carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .steps-controlls {
        margin: 0 auto;
        width: 178px;
        display: flex;
        justify-content: space-between;
    }

    .steps__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0;
        width: 36px;
        height: 36px;
    }

    .steps__button:disabled {
        background-color: var(--color-grey-super-light);
        border-color: var(--color-grey-super-light);
    }

    .participants__subtitle {
        font-family: Merriweather;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 40px;

    }

    .participants {
        margin-bottom: 70px;
    }

    .ticker-bottom {
        margin: 0;
    }

    .footer__container {
        padding: 41px 20px;
    }
}

@media (max-width: 375px) {
    .hero {
        background-repeat: no-repeat;
        background-size: auto;
        background-position-y: -80%;
    }
}