html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 375px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.container {
    max-width: 1510px;
    padding: 0 72px;
    margin: 0 auto;
    /* overflow: hidden; */
}

@media (max-width: 1920px) {
    .container {
        padding: 0 144px;
    }
}

@media (max-width: 1720px) {
    .container {
        padding: 0 72px;
    }
}

:root {

    --color-black-light: rgb(49, 49, 49);
    --color-black-dark: rgb(31, 31, 31);
    --color-red: rgb(245, 73, 50);
    --color-white: rgb(255, 255, 255);
    --color-grey: #313131;
    --color-grey-light: rgba(49, 49, 49, 0.7);
    --color-grey-middle: #D0D0D0;
    --color-grey-super-light: #D9D9D9;
    --color-blue: #3057A2;
    --color-cream: #E9DED4;
    --color-yellow: #FBCE51;



}



.button-light {
    padding: 20px;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 66px;
    border: 2px solid var(--color-black-dark);
    transition: background-color .2s linear, border-color .2s linear;
}

.button-light:hover {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.button-light:focus {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.button-light:active  {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.button-dark {
    padding: 20px;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 66px;
    color: var(--color-white);
    background-color: var(--color-black-dark);
    border: 2px solid var(--color-black-dark);
    transition: background-color .2s linear, border-color .2s linear;
}

.button-dark:hover {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
}

.button-dark:focus {
    border-color: var(--color-yellow);
}

.button-dark:active  {
    border-color: var(--color-yellow);
}

.link-decoration {
    transition: opacity .2s linear;  
}

.link-decoration:hover {
    opacity: .5;
    
}

.link-decoration:focus {
    opacity: .5;
}

.link-decoration:active  {
    opacity: .5;
}

.header__logo {
    padding-top: 26px;
    z-index: 1000;
}

.header {
    margin-bottom: -59px;

}


.hero__section {
    padding-top: 118px;
    padding-bottom: 131px;
    background-image: url('../img/hero-1920.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 79%;
}

.hero__text {
    max-width: 542px;
    display: flex;
    flex-direction: column;
}

.hero__title {
    margin-bottom: 20px;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}



.title__text--center {
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}

.hero__descr {
    font-family: Golos Text;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 41px;
}

.hero__button-container {
    display: flex;
    gap: 20px;
}

.hero__button {

    padding: 13px;

}

.hero__button {
    width: 263px;
}


.ticker {
    display: flex;
    height: 60px;
    padding: 18px 0;
    background-color: var(--color-red);
    font-family: Merriweather;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
    overflow: hidden;
    user-select: none;
}

.ticker:before,
.ticker:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}


.ticker__list{
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }

.ticker__item{
    margin-right:12px ;
}

.ticker__item {
    transition: all 0.1s ease-in-out;
  }

  
  .marquee {
    animation: scroll 40s linear infinite;
  }
 
  .ticker:hover .marquee {
    animation-play-state: paused;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  











.information {
    margin-bottom: 64px;
}

.information__text {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--color-black-light);
    text-transform: uppercase;

}



.information__container {
    display: flex;
    margin-bottom: 20px;
}

.information__text {
    padding-top: 27px;
}

.information__text--small-resolution{
    display: none;
}

.red-text {
    color: var(--color-red);
    letter-spacing: 0px;
}

.schedule__text {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--color-black-light);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.schedule {
    margin-bottom: 200px;
}

.schedule__container {
    display: grid;
    grid-template-columns: 519px 1fr;
    min-height: 528px;
    
}

.schedule__text {
    grid-column-start: 2;
    grid-column-end: 2;
}

.schedule__table {
    grid-column-start: 2;
    grid-column-end: 2;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    display: grid;
    grid-template-columns: 43% 1fr;
    margin-bottom: 10px;
}

.table__column {
    padding: 12px 0;
    /* align-self:center; */
    vertical-align: middle
}


.table__column--left {
    color: var(--color-grey-light);
    border-right: 1px solid var(--color-grey-middle);
    border-bottom: 1px solid var(--color-grey-middle);
    border-collapse: collapse;

}

.table__column--right {
    color: var(--color-grey);
    border-bottom: 1px solid var(--color-grey-middle);
    border-collapse: collapse;
    padding-left: 19px;

}

.table-extra {
    position: relative;
}


.table-extra::before {
    top: 50%;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--color-red);
}

.schedule__link {
    grid-column-start: 2;
    align-self: self-end;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-blue);



}

.schedule__wrapper {
    position: relative;
    margin-top: -10px;
    grid-row: span 3;
    height: 527px;
}

.schedule__img {
    position: absolute;
    top: -11px;
    left: -23px;
}

.stages {
    margin-bottom: 205px;
}




.stages__subtitle {
    position: relative;
    margin-bottom: 53px;
    max-width: 806px;
    font-family: Merriweather;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-black-dark);

}

.stages__subtitle .stages__link {
    max-width: 291px;
    position: absolute;
    left: 300px;
    top: 71px;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-blue);
    text-transform: none;

}



.stages__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 24px;
    /* grid-template-rows: 395px 395px 395px; */
    grid-template-areas:
        "A B C"
        "D E C"
        "F G G";
}

.step {
    display: flex;
    padding: 18px;
    background-image: url('../img/steps-texture.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.step__digit {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black-dark);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding-top: 5px;
    text-align: center;


}

.step__descr {
    width: 302px;
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}

.stages__item--1 {
    grid-area: A;
}

.stages__item--2 {
    grid-area: B;
}

.stages__item--3 {
    grid-area: C;
}

.stages__item--4 {
    grid-area: D;
}

.stages__item--5 {
    grid-area: E;
}

.stages__item--5 .step__descr {
    width: 254px;
}

.stages__item--6 {
    grid-area: F;
}

.stages__item--7 {
    position: relative;
    grid-area: G;
}

.stages__item--7 .step__descr {
    width: 452px;
}

.step__decoration {
    position: absolute;
    top: -97px;
    left: 471px;
    z-index: 1000;
    display: block;
    background-image: url('../img/schedule-plain.png');
    background-repeat: no-repeat;
    width: 377px;
    height: 212px;
}

.steps-carousel {
    display: none;
}

.participants {
    margin-bottom: 138px;
}

.participants__subtitle {
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.participants-small-carousel{
    display: none;
}

.swiper__controlls {
    display: flex;
    align-items: center;
    gap: 15px;

}

.swiper__display {
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;

}

.swiper__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    width: 44px;
    height: 44px;
}

.swiper__controll-line {
    display: flex;
    justify-content: flex-end;
    margin-top: -56px;
    margin-bottom: 71px;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 464px;

}

.slide__image {
    margin-bottom: 30px;
}

.slide__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide__subtitle {
    font-family: Golos Text;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-black-dark);
    margin-bottom: 4px;

}

.slide__descr {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--color-grey);


}

.slide__button {
    margin-top: auto;
    border: 1px solid var(--color-blue);
    border-radius: 62px;
    padding: 9px 12px;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-blue);
    transition: background-color .2s linear, border-color .2s linear, color .2s linear;


}

.slide__button:hover {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
}

.slide__button:focus {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
}

.slide__button:active {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
}

.swipper__slider-track {
    display: flex;
    padding: 0 37px;
    gap: 94px;
}

.ticker-bottom {
    margin-bottom: 0;
}

.footer {
    background-color: var(--color-cream);
}

.footer__container {
    padding: 40px 72px;
}

.footer__text {
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--color-grey);

}

.participants-big-carousel {
    margin: 0 auto;
    position: relative;
}

.participants-big-carousel .participants-big-carousel-indicators {
    display: none;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.participants-big-carousel .participants-big-carousel-indicators li {
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #343a40;
    border: 2px solid #fff;
    border-radius: 50%;
}

.participants-big-carousel .participants-big-carousel-indicators .active {
    background-color: #025fff;
}

.participants-big-carousel .participants-big-carousel-window {
    width: 100%;
    height: 465px;
    position: relative;
    overflow: hidden;
}

.participants-big-carousel .participants-big-carousel-slides {
    height: 100%;
    display: flex;
    transition: transform 0.5s;
}

/* .participants-big-carousel .participants-big-carousel-item {
        height: 100%;
    }
        .participants-big-carousel .participants-big-carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        } */
/* .participants-big-carousel .participants-big-carousel-prev, .participants-big-carousel .participants-big-carousel-next {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        color: #fff;
        opacity: 0.7;
        text-align: center;
        font-size: 40px;
        text-decoration: none;
    } */
/* .participants-big-carousel .participants-big-carousel-prev:hover,
.participants-big-carousel .participants-big-carousel-next:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
} */

.participants-big-carousel .participants-big-carousel-prev {
    left: 0;
}

.participants-big-carousel .participants-big-carousel-next {
    right: 0;
}
